################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MoneyTracker/v15/.suo
/.vs/MoneyTracker/v15/Server/sqlite3/db.lock
/.vs/MoneyTracker/v15/Server/sqlite3/storage.ide
/.vs/MoneyTracker/v15/Server/sqlite3/storage.ide-shm
/.vs/MoneyTracker/v15/Server/sqlite3/storage.ide-wal
/MoneyTracker/obj
/.vs/config
/MoneyTracker/bin/Debug/netcoreapp2.1
